__pycache__
**/__pycache__
__pycache__/
**/__pycache__/
*.py[cod]
**/.mypy_cache/
.refs/
.mypy_cache/
.local/
.vscode/
api/.venv
front/node_modules
front/dist
**/.env
settings.toml
**/analytics.db
**/*.tsbuildinfo
*.DS_Store
